/* General Styles */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--mint);
}

h1 {
    font-size: 2.3rem;
    color: var(--light-pink);
}

h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

h3 {
    font: bold 1.5rem 'Courier New', Courier, monospace, serif;
    text-align: center;
    margin-top: 1.5rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem;
}

ul {
    font-size: 1.4rem;
}

main {
    margin: 5%;
}

/* Utilities */

.flex {
    display: flex;
}

/* Header (includes some footer styling) */

#nav-bar {
    background-color: var(--light-purple);
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    justify-content: space-between;
    min-width: 400px;
}

nav a, footer a {
    text-decoration: none;
    color: var(--light-pink);
}

nav a:hover, footer a:hover {
    color: var(--dark-purple);
}

#hero {
    background-image: url("../images/background.jpg");
    height: 300px;
    position: relative;
}

#hero p {
    background-color: var(--gold);
    font: bold 2rem 'Courier New', Courier, monospace, serif;
    display: inline;
    padding: 40px;
    position: absolute;
    top: 225px;
    right: 0;
    margin-right: 0;
}

/* About Me */

#about-content img {
    border: 10px double var(--brown);
    border-radius: 50%;
    margin-right: 3%;
    max-height: 200px;
}

/* My Work */

#work section {
    border: 3px solid var(--light-purple);
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work a:hover {
    opacity: .7;
}

#featured-work a {
    margin-top: 1rem;
}

#featured-work img {
    width: 100%;
}

#other-work {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1%;
}

#other-work section {
    margin-top: 3%;
    max-width: 300px;
}

/* Contact Me */

footer {
    background-color: var(--light-purple);
    padding: 2%;
    color: var(--light-pink);
}

footer h2 {
    margin-top: 0;
}

footer ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

#phone:before {
    content: '📞';
    margin-right: 5px;
}

#email:before {
    content: '📧';
    margin-right: 5px;
}

/* Media Queries */

@media screen and (max-width: 992px) {
    #nav-bar {
        display: block;
    }
    h1 {
        text-align: center;
    }
    nav {
        margin-top: 3%;
    }
    nav ul {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 1rem;
    }
    nav ul, footer ul {
        font-size: 1.2rem;
    }
    #hero p {
        top: 50px;
        padding: 20px;
    }
    #other-work {
        flex-direction: column;
    }
    #other-work section {
        max-width: initial;
        flex-direction: row;
    }
    #other-work a, #other-work img {
        max-height: 200px;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        min-width: 0;
    }
    #hero p {
        font-size: 1.5rem;
    }
    #about-content {
        flex-direction: column;
    }
    #about-content img {
        margin-bottom: 1rem;
        align-self: center;
    }
    #other-work section {
        flex-direction: column;
    }
    #other-work a {
        margin-top: 1rem;
    }
    footer ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}